ADMIN_PRIVATE_KEY_ENCRYPTED=123456789PTNZPhZLLRSYgEdHgMdRCx13nLGPvcUSeRV22ceWQ68i2rrKbDEECL7AnzEHMQ3t82zoX1234567890
NEXT_PUBLIC_RPC_DEVNET=https://devnet.helius-rpc.com/?api-key=12321124-3a35-4a3c-a9ed-12234234
NEXT_PUBLIC_RPC_MAINNET=https://mainnet.helius-rpc.com/?api-key=12321124-3a35-4a3c-a9ed-12234234
EC=1234567
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzYTliZmJlMC1iMDZkLTRlZWItOTNiMy0xNWVlNzViZjMxMDkiLCJlbWFpbCI6InRyaW5oY29uZ2h1bmcyMDAzQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI0ZWM0ODkzNWYwMWFiYzUxMmJmNSIsInNjb3BlZEtleVNlY3JldCI6IjZhMDBiMD
DBC_CONFIG_MAINNET=123xyz456xyz789xyz123xyz456xyz789xyz123xyz12
